# Copyright (c) 2019 YA-androidapp(https://github.com/YA-androidapp) All rights reserved.

<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    # RewriteBase "/Laravel-Isbn/"
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    # RewriteRule ^Laravel-Isbn/(.*) %1 [L,R=301]
    RewriteRule ^ %1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

Header edit Set-Cookie ^(.*)$ $1;HttpOnly;Secure
Header set Cache-Control "no-cache,no-store,must-revalidate"
Header set Pragma no-cache
Header set Strict-Transport-Security "max-age=31536000; includeSubDomains"
Header set X-Content-Type-Options nosniff
Header set X-Frame-Options "deny"
Header set X-XSS-Protection "1; mode=block"